# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import gkey
print(gkey)

AIzaSyC1beZ-NEDy4WYw3IakuFX8gjAn0a7p6_E

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation = pd.read_csv("../output_data/cities.csv")
vacation.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,Sibolga,25,ID,1627418786,91,1.7427,98.7792,76.17,2.59
1,1,Lebu,0,CL,1627418401,74,-37.6167,-73.6500,48.63,24.29
2,2,Nanortalik,57,GL,1627418410,75,60.1432,-45.2371,47.07,3.47
3,3,Saint-Philippe,48,RE,1627418341,82,-21.3585,55.7679,69.35,13.00
4,4,Bowen,63,AU,1627418926,83,-20.0167,148.2333,50.22,7.76

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(gkey)

In [4]:
locations=vacation[['Latitude', 'Longitude']]
humidity = vacation['Humidity']

In [5]:
fig=gmaps.figure(center=(48.0,0.0), zoom_level=3)

heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#narrow down ideal locations
#Max Temp 84, but higher than 60
#Humidiy <51
#Clouds<30
#Windspeed>15

MaxTemp = vacation[vacation["Max Temp"]<84]
ITemp = MaxTemp[MaxTemp['Max Temp']>60]

Humidity = ITemp[ITemp["Humidity"]<51]

Ideal = Humidity[Humidity['Wind Speed']>15]

Ideal.head(7)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
55,55,Port Alfred,4,ZA,1627418730,30,-33.5906,26.8910,70.86,18.97
84,84,Athabasca,0,CA,1627418943,18,54.7169,-113.2854,75.02,15.59
197,197,La Paz,40,BO,1627418703,17,-16.5000,-68.1500,60.78,18.41
286,286,Santa Cruz de la Sierra,75,BO,1627419005,39,-17.8000,-63.1667,63.86,21.85
341,341,Waddān,0,LY,1627419024,41,29.1614,16.1390,81.10,19.24
364,364,Chardara,0,KZ,1627419033,24,41.2547,67.9692,78.46,20.80

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
Ideal = Humidity[Humidity['Wind Speed']>15]
Ideal.dropna()
Ideal

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
55,55,Port Alfred,4,ZA,1627418730,30,-33.5906,26.8910,70.86,18.97
84,84,Athabasca,0,CA,1627418943,18,54.7169,-113.2854,75.02,15.59
197,197,La Paz,40,BO,1627418703,17,-16.5000,-68.1500,60.78,18.41
286,286,Santa Cruz de la Sierra,75,BO,1627419005,39,-17.8000,-63.1667,63.86,21.85
341,341,Waddān,0,LY,1627419024,41,29.1614,16.1390,81.10,19.24
364,364,Chardara,0,KZ,1627419033,24,41.2547,67.9692,78.46,20.80

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:


hotel_df = Ideal.loc[:,["City","Cloudiness","Country","Date","Humidity", "Latitude", "Longitude", "Max Temp", 'Wind Speed']]


hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
55,Port Alfred,4,ZA,1627418730,30,-33.5906,26.8910,70.86,18.97,
84,Athabasca,0,CA,1627418943,18,54.7169,-113.2854,75.02,15.59,
197,La Paz,40,BO,1627418703,17,-16.5000,-68.1500,60.78,18.41,
286,Santa Cruz de la Sierra,75,BO,1627419005,39,-17.8000,-63.1667,63.86,21.85,
341,Waddān,0,LY,1627419024,41,29.1614,16.1390,81.10,19.24,
364,Chardara,0,KZ,1627419033,24,41.2547,67.9692,78.46,20.80,

In [9]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"


# set up a parameters dictionary

In [10]:
hotels = []
for index, row in hotel_df.iterrows():
    # get city name and location
    lat = row["Latitude"]
    lon = row["Longitude"]
    cityName = row["City"]
    coordinates= "{lat},{lon}"
    params = {
    "keyword": 'hotel',
    "radius": 5000,
    "type": 'hotel',
    "key": gkey,
    "location": coordinates
    
}
    


    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()

    
    
  

# Dataframe with nearest hotel

Ideal["Hotel Name"] = hotels
Ideal

ValueError: Length of values (0) does not match length of index (6)

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]