# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [ ]:
## I cannot get the map function to pull a hotel to work.  I had mulitple errors where the return was no hotel found in the params, I left it incomplete, additionally, I was unable to hide my API keys, so they are deleted from the api key document.  They are in the comments for the assignment on the dashboard.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
from pprint import pprint
# Import API key
from api_keys import gkey
print(gkey)

AIzaSyC1beZ-NEDy4WYw3IakuFX8gjAn0a7p6_E

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [2]:
vacation = pd.read_csv("../output_data/cities.csv")
vacation.head()

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
0,0,Albany,100,US,1627435753,92,42.6001,-73.9662,68.14,1.52
1,1,Bambous Virieux,75,MU,1627436082,94,-20.3428,57.7575,67.21,17.27
2,2,Nikolskoye,100,RU,1627436053,68,59.7035,30.7861,64.02,4.65
3,3,Chui,29,UY,1627436039,70,-33.6971,-53.4616,42.22,16.02
4,4,Faanui,55,PF,1627436087,75,-16.4833,-151.7500,77.79,8.99

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [3]:
gmaps.configure(gkey)

In [4]:
locations=vacation[['Latitude', 'Longitude']]
humidity = vacation['Humidity']

In [5]:
fig=gmaps.figure(center=(48.0,0.0), zoom_level=3)

heat_layer=gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=10, point_radius=1)
fig.add_layer(heat_layer)
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
#narrow down ideal locations
#Max Temp 84, but higher than 60
#Humidiy <51
#Clouds<30
#Windspeed>15

MaxTemp = vacation[vacation["Max Temp"]<84]
ITemp = MaxTemp[MaxTemp['Max Temp']>60]

Humidity = ITemp[ITemp["Humidity"]<51]

Ideal = Humidity[Humidity['Wind Speed']>15]

Ideal.head(9)

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
90,90,Saskylakh,20,RU,1627436056,42,71.9167,114.0833,64.78,19.73
150,150,Swan Hill,4,AU,1627436350,47,-35.3378,143.5544,60.87,22.37
170,170,Khatanga,8,RU,1627436084,42,71.9667,102.5000,83.93,18.84
192,192,Tilichiki,85,RU,1627436359,49,60.4667,166.1000,61.61,15.70
209,209,Evensk,80,RU,1627436062,46,61.9500,159.2333,61.66,15.55
432,432,Santa Cruz de la Sierra,90,BO,1627436162,29,-17.8000,-63.1667,62.06,17.27
484,484,Nālūt,0,LY,1627436443,32,30.3333,10.8500,78.51,15.32

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [7]:
Ideal = Humidity[Humidity['Wind Speed']>15]
Ideal.dropna()
Ideal

,Unnamed: 0,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed
90,90,Saskylakh,20,RU,1627436056,42,71.9167,114.0833,64.78,19.73
150,150,Swan Hill,4,AU,1627436350,47,-35.3378,143.5544,60.87,22.37
170,170,Khatanga,8,RU,1627436084,42,71.9667,102.5000,83.93,18.84
192,192,Tilichiki,85,RU,1627436359,49,60.4667,166.1000,61.61,15.70
209,209,Evensk,80,RU,1627436062,46,61.9500,159.2333,61.66,15.55
432,432,Santa Cruz de la Sierra,90,BO,1627436162,29,-17.8000,-63.1667,62.06,17.27
484,484,Nālūt,0,LY,1627436443,32,30.3333,10.8500,78.51,15.32

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [8]:


hotel_df = Ideal.loc[:,["City","Cloudiness","Country","Date","Humidity", "Latitude", "Longitude", "Max Temp", 'Wind Speed']]


hotel_df["Hotel Name"] = ""

# Display the result
hotel_df

,City,Cloudiness,Country,Date,Humidity,Latitude,Longitude,Max Temp,Wind Speed,Hotel Name
90,Saskylakh,20,RU,1627436056,42,71.9167,114.0833,64.78,19.73,
150,Swan Hill,4,AU,1627436350,47,-35.3378,143.5544,60.87,22.37,
170,Khatanga,8,RU,1627436084,42,71.9667,102.5000,83.93,18.84,
192,Tilichiki,85,RU,1627436359,49,60.4667,166.1000,61.61,15.70,
209,Evensk,80,RU,1627436062,46,61.9500,159.2333,61.66,15.55,
432,Santa Cruz de la Sierra,90,BO,1627436162,29,-17.8000,-63.1667,62.06,17.27,
484,Nālūt,0,LY,1627436443,32,30.3333,10.8500,78.51,15.32,

In [9]:
# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

coordinates= "{lat},{lon}"
# set up a parameters dictionary

params = {
    "keyword": 'hotel',
    "radius": 5000,
    "type": 'hotel',
    "key": gkey,
    "location": coordinates}

In [10]:
hotels = []
for index, row in hotel_df.iterrows():
    # get city name and location
    lat = row["Latitude"]
    lon = row["Longitude"]
    cityName = row["City"]
    

    


    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"   

    hotel_request = requests.get(base_url, params=params)
    hotel_response = hotel_request.json()

    
    
hotel_response

{'error_message': 'This API project is not authorized to use this API.',
 'html_attributions': [],
 'results': [],
 'status': 'REQUEST_DENIED'}

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Latitude", "Longitude"]]